<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="New SUite for testing parallel" parallel="classes" thread-count="7">
    <test verbose="2" preserve-order="true" name="TestOnChrome">
        <parameter name="browsername" value="chrome"></parameter>
        <classes><class name="Tests.TestScripts">
        </class></classes>
    </test>
    <test verbose="2" preserve-order="true" name="TestOnFirefox">
        <parameter name="browsername" value="firefox"></parameter>
        <classes><class name="Tests.TestScripts">
        </class></classes>
    </test>


</suite>